.services-page {
  padding-top: 5rem;
}

.services-page h1 {
  font-size: 3rem;
  background-color: #f3541e;
  color: white;
  margin: auto;
  padding: 5rem;
}

.services-page-main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 6rem;
  justify-content: space-between;
  width: 90%;
}

.services-page-main a {
  text-decoration: none;
  color: white;
}

.service-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-card:nth-child(2) {
  transform: translateY(20px);
}

.service-card img {
  width: 300px;
  height: 300px;
  transform: scale(1);
  transition: .4s cubic-bezier(.12,.65,.4,1);
}

.services-page-main h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-image: linear-gradient(
    320deg,
    rgba(238, 124, 49, 0.8) 0%,
    rgba(243,84,30, 0.8) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all .4s cubic-bezier(.12,.65,.4,1);
  font-size: 0;
}

.service-card:hover h3{
    opacity: 1;
    font-size: 1rem;
}

.service-card:hover img{
    transform: scale(1.07);
}

.service-card h3:before {
    position: absolute;
    top: 7%;
    left: 7%;
    content: '';
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 1;
    border: 10px solid white;
}
