.careers-page{
    padding-top: 5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.careers-page h1{
    font-size: 5rem;
    color: white;
    background-color: #F3541E;
    padding: 7rem 4rem;
    text-align: left;
    width: 100%;
}

.careers-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1140px;
    margin-top: 4rem;
    margin-left: -8px;
    margin-right: -8px;
}

.career{
    width: 31.33%;
    margin: 10px 8px;
    border: 1px solid #c7c9d6;
    background-image: linear-gradient(180deg,#f4fcff 0%,#fff 100%);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 0px;
    transition: 500ms ease-in-out;
    padding: 25px 30px 30px;
    border-radius: 5px;
}

.career:hover{
    box-shadow: rgba(255, 126, 52, 0.2) 0px 8px 24px;
}

.career h2{
    font-size: 24px;
    color: #F3541E;
}

.career p{
    margin-bottom: 15px;
    font-size: 18px;
}

.career h5{
    margin-top: 30px;
    font-size: 16px;
    color: #ff9938;
}