.careers-page{
    padding-top: 8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.careers-page h1{
    font-size: 5rem;
    color: white;
    background-color: #F3541E;
    padding: 7rem 4rem;
    text-align: left;
    width: 100%;
}

.careers-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
}

.career{
    width: 350px;
    margin: 20px;
    border: 1px solid #f2f2f2;
    padding: 20px;
    background-image: linear-gradient(180deg,#f86e410e 0%,#fff 100%);
    cursor: pointer;
    transform: scale(1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 500ms ease-in-out;
}

.career:hover{
    transform: scale(1.01);
    box-shadow: rgba(255, 126, 52, 0.2) 0px 8px 24px;
}

.career h2{
    font-size: 2.1rem;
    color: #F3541E;
}

.career p{
    margin-bottom: 15px;
}