@import "~react-image-gallery/styles/css/image-gallery.css";

.aboutus-page {
  padding-top: 8rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  position: relative;
}

.aboutus-page h1 {
  font-size: 4rem;
  color: #F3541E;
  margin-bottom: 4rem;
}

.aboutus-page h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
  color: #F3541E;
}

.aboutus-page p{
  line-height: 1.7;
}

.our-story {
  width: 60%;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.leadership1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.leadership1::before {
  height: 500px;
  width: 500px;
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #fb8500;
  opacity: 0.1;
  top: 100px;
  border-radius: 100%;
  animation: updownabout 4s infinite alternate linear;
}

.leadership1-card {
  width: 45%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  background-color: white;
  transition: 500ms ease-in-out;
  transform: scale(1);
}

.leadership1-card:hover{
  box-shadow: rgba(251, 133, 0, 0.2) 0px 8px 24px;
  transform: scale(1.01);
}

.leadership1-card > div:last-child {
  max-width: 65%;
}

.leadership1-img {
  width: 120px;
  height: 120px;
  background-color: #f2f2f2;
  margin-right: 15px;
}

.leadership2-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 60px 30px;
  background-color: white;
  transition: 500ms ease-in-out;
  transform: scale(1);
}

.leadership2-card:hover{
  box-shadow: rgba(251, 133, 0, 0.2) 0px 8px 24px;
  transform: scale(1.01);
}

.leadership2-card-left {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.leadership2-card-left p {
  text-align: center;
}

.leadership2-card-left > div:first-child {
  width: 120px;
  height: 120px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.leadership2-card-right {
  width: 60%;
}

.life-vcreatek {
  position: relative;
}

.life-vcreatek::before {
  position: absolute;
  width: 600px;
  height: 600px;
  opacity: 1;
  z-index: -1;
  top: -50%;
  background-color: aliceblue;
  content: "";
  border-radius: 100%;
  transform: rotate(30deg);
  animation: updownabout 4s infinite alternate linear;
}

.life-vcreatek::after{
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0.1;
  z-index: -1;
  bottom: -30%;
  right: 0;
  background-color: deeppink;
  content: "";
  border-radius: 100%;
  transform: rotate(30deg);
  animation: leftrightabout 4s infinite alternate linear;
}

.life-vcreatek p {
  margin-bottom: 20px;
}

.aic-mit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.aic-mit::before {
  width: 300px;
  height: 300px;
  transform: rotate(-30deg);
  position: absolute;
  content: "";
  z-index: -1;
  background-color: red;
  opacity: 0.1;
  border-radius: 100%;
  left: -10%;
  bottom: -80%;
  animation: updownabout 4s infinite alternate linear;
}

.aic-mit-left {
  width: 50%;
}

.aic-mit-right {
  width: 45%;
}

.aic-mit-right img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

/* .image-gallery-fullscreen-button, .image-gallery-play-button{
  display: none;
} */

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
  height: 50px;
  width: 30px;
}

.gallery::before{
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  border-radius: 100%;
  bottom: 10%;
  right: 0;
  background-color: forestgreen;
  opacity: 0.1;
  z-index: -1;
  animation: leftrightabout 4s infinite alternate linear;
}

.image-gallery{
  width: 80%;
}

.image-gallery-slide{
  height: 400px;
}

.image-gallery-slide img{
  height: 100%;
}

.aboutus-page::before {
  position: absolute;
  width: 700px;
  height: 700px;
  top: -250px;
  right: -250px;
  background-color: red;
  opacity: 0.1;
  content: "";
  z-index: -1;
  border-radius: 100%;
  animation: updownabout 4s infinite alternate linear;
}

.leadership1:after {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  opacity: 1;
  z-index: -1;
  background: azure;
  border-radius: 100%;
  right: 10%;
  top: 180%;
  animation: leftrightabout 4s infinite alternate linear;
}

@keyframes updownabout {
  from{
    transform: translateY(-10%);
  }to{
    transform: translateY(10%);
  }
}

@keyframes leftrightabout {
  from{
    transform: translateX(-50%);
  }to{
    transform: translateX(50%);
  }
}