.data-cloud-page {
  padding-top: 5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.data-cloud-page1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.data-cloud-left {
  width: 39%;
  position: relative;
}

.wave1 {
  position: absolute;
  height: 100%;
  transform: rotate(270deg);
  left: 58%;
  width: 111% !important;
}

.data-cloud-right {
  width: 50%;
  height: 100%;
}

.data-cloud-page1::before {
  position: absolute;
  height: 105%;
  background-color: #ffc801;
  top: 0px;
  right: 0;
  width: 50%;
  content: "";
  z-index: -1;
}

.data-cloud-right h1 {
  text-align: center;
  font-size: 3rem;
}

.data-cloud-page1 img {
  width: 100%;
}

.services-main {
  display: flex;
  width: 80%;
  box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  margin-top: 6rem;
}

.services-left {
  background-color: #f3541e;
  color: white;
  font-family: "Ubuntu", sans-serif;
  transform: translate(-30px, -30px);
  padding: 20px;
  box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  max-width: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.services-left p {
  font-size: 1.3rem;
  padding: 15px;
  width: 300px;
  cursor: pointer;
}

.services-left .service-active {
  width: 400px;
  background-color: #f47e29;
  box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
  position: relative;
}

.services-right {
  padding: 3rem;
}

.services-right h1 {
  font-size: 2.8rem;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 50px;
  position: relative;
}

.services-right h1::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 5px;
  left: 0;
  bottom: -20px;
  background-color: #f47e29;
}

.services-right > p {
  font-family: "Saira", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: justify;
}

.service-bullets {
  display: flex;
  flex-wrap: wrap;
}

.service-bullets p {
  display: inline-block;
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  font-family: "Saira", sans-serif;
  position: relative;
}

.service-bullets p::after {
  position: absolute;
  content: "";
  top: 43%;
  left: -5px;
  background-color: #242582;
  width: 6px;
  height: 6px;
}

.services-carousel {
  display: none;
}

/* New style */
.cloud-services {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.cloud-service{
  margin-bottom: 3rem;
}

.cloud-service h1{
  width: 300px;
  font-size: 1rem;
  text-align: center;
  color: #6b6d7e;
}

.cloud-service-info {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

.cloud-service-info img {
  width: 300px;
  height: 300px;
  transform: scale(1);
  transition: 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
}

.cloud-service-info h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
  background-image: linear-gradient(
    320deg,
    rgba(238, 124, 49, 0.8) 0%,
    rgba(243, 84, 30, 0.8) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
  font-size: 0.8rem;
}

.cloud-service-info h3 p{
  width: 65%;
  color: white;
  text-align: justify;
}

.cloud-service-info h3:before {
  position: absolute;
  top: 7%;
  left: 7%;
  content: "";
  width: 80%;
  height: 80%;
  margin: auto;
  z-index: 1;
  border: 10px solid white;
}

.cloud-service-info:hover img{
  transform: scale(1.07);
}

.cloud-service-info:hover h3{
  opacity: 1;
}