.contact-us {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    margin-bottom: 30px;
    position: relative;
  }
  
  .contact-us h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 30px;
  }
  
  .contact-us h3{
      color: #f3541e;
      margin-bottom: 40px;
      margin-top: 20px;
      padding: 0 30px;
      text-align: center;
  }
  
  .contact-us form{
      width: 800px;
      border-radius: 10px;
      box-shadow: 0 2px 37px 0 rgb(0 0 0 / 10%);
      padding: 4rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
  }
  
  .contact-us input{
      display: block;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #cecece;
      transition: 200ms ease-in-out;
  }
  
  .contact-us input:focus{
      border: 1px solid #f47e29;
      outline: none;
  }
  
  .form-row{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  
  .contact-us select{
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #cecece;
      transition: 200ms ease-in-out;
  }
  
  .contact-us select:focus{
      border: 1px solid #f47e29;
      outline: none;
  }
  
  .form-field{
      width: 45%;
  }
  
  .contact-us button{
      width: 40%;
      margin-top: 30px;
      padding: 10px;
      border: none;
      background-color: #f3541e;
      color: white;
      font-size: 1.3rem;
      cursor: pointer;
  }
  
  .contact-us .form-message{
      width: 100%;
  }
  
  .contact-us textarea{
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      height: 150px;
      resize: vertical;
      border: 1px solid #cecece;
      transition: 200ms ease-in-out;
  }
  
  .contact-us textarea:focus{
      border: 1px solid #f47e29;
      outline: none;
  }
  
  .contact-us label{
      color: #f3541e;
  }

  .contact-us img{
      position: absolute;
      filter: blur(2px);
      opacity: 0.8;
  }

  .anim-circle1{
      width: 25px;
      height: 25px;
      animation: leftright infinite linear alternate 2s;
      top: 70%;
      left: 10%;
  }
  .anim-circle2{
      width: 15px;
      height: 15px;
      animation: updown infinite linear alternate 2s 1s;
      top: 60%;
      right: 10%;
  }
  .anim-circle3{
      width: 25px;
      height: 25px;
      animation: updown infinite linear alternate 2s;
      top: 30%;
      left: 20%;
  }

  .anim-triangle1{
      width: 70px;
      height: 70px;
      top: 80%;
      right: 15%;
      animation: spin1 infinite linear alternate 2.5s;
  }
  .anim-triangle2{
      width: 20px;
      height:20px;
      top: 80%;
      left: 15%;
      animation: spin1 infinite linear alternate 2.5s;
  }
  .anim-triangle3{
      width: 30px;
      height: 30px;
      top: 30%;
      right: 10%;
      animation: spin1 infinite linear alternate 2.5s;
  }
  .anim-triangle4{
      width: 60px;
      height: 60px;
      top: 30%;
      left: 10%;
      animation: spin2 infinite linear  2.5s;
  }
  .anim-triangle5{
      width: 30px;
      height: 30px;
      top: 40%;
      right: 5%;
      animation: spin1 infinite linear  2.5s;
  }
  

  @keyframes updown {
    from{
      transform: translateY(-50%);
    }to{
      transform: translateY(50%);
    }
  }
  
  @keyframes leftright {
    from{
      transform: translateX(-50%);
    }to{
      transform: translateX(50%);
    }
  }

  @keyframes spin1 {
      from{
          transform: rotate(-180deg);
      }to{
        transform: rotate(180deg);
      }
  }

  @keyframes spin2 {
      from{
          transform: rotate(0deg);
      }to{
        transform: rotate(360deg);
      }
  }