.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: white;
  border-bottom: 0.0625rem solid transparent;
  width: 100%;
  z-index: 99;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 10px 40px 0px rgb(47 47 47 / 10%);
}

.header-container {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-main-container {
  display: flex;
  align-items: center;
}

.header-logo-container {
  width: 4rem;
  height: 4rem;
}

.header-logo-container img {
  width: 140%;
  object-fit: contain;
  text-align: center;
}

.header-links {
  display: flex;
  margin-left: 4rem;
  padding-top: 0.25rem;
  list-style: none;
}

.header-link button {
  letter-spacing: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  transition: box-shadow 0.3s ease;
  white-space: nowrap;
  flex-flow: row-reverse;
}

.header-svg-container {
  margin-left: 5px;
}

.header-link {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  padding: 0 5px;
}

a.header-link {
  text-decoration: none;
  color: black;
}

.header-link:hover::after {
  width: 100%;
}

.header-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -25px;
  background-color: #F3541E;
  width: 0%;
  height: 3px;
  transition: 200ms ease-in-out;
}

.header-info {
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  justify-content: space-around;
  padding: 2rem;
  cursor: pointer;
  z-index: 99;
  background-color: white;
}

.header-info.header-home {
  display: none;
}

.hide-header {
  display: none;
}

.header-info p {
  padding: 10px;
  box-shadow: rgba(251, 133, 0, 0.2) 0px 0px 0px;
  transition: 200ms ease-in-out;
  margin: 0;
  font-size: 0.9rem;
  border-radius: 5px;
}

.header-info a {
  text-decoration: none;
  padding: 10px;
  box-shadow: rgba(251, 133, 0, 0.2) 0px 0px 0px;
  transition: 200ms ease-in-out;
  margin: 0;
  font-size: 0.9rem;
  border-radius: 5px;
  display: block;
  color: black;
}

.header-info svg {
  transform: rotate(-90deg) translateX(2px);
}

.header-info p:hover {
  box-shadow: rgba(251, 133, 0, 0.2) 0px 5px 10px;
  background-color: #F3541E;
  color: white;
}

.header-info a:hover {
  box-shadow: rgba(251, 133, 0, 0.2) 0px 5px 10px;
  background-color: #F3541E;
  color: white;
}

.header-info p:hover svg path {
  stroke: white;
}

.header-info-open {
  visibility: visible;
}

.header-info-section1 {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-services-section1 {
  display: block;
}

.header-info-section2 {
  width: 30%;
}

.header-info-section3 {
  width: 30%;
}
