.techpartners-page{
    padding-top: 5rem;
}

.techpartners-page h1{
    padding: 30px;
    font-size: 3rem;
    width: 100%;
    background-color: #fb8500;
    color: white;
    text-align: center;
    margin-bottom: 3rem;
}

.techpartners-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.techpartners-main img{
    width: 300px;
    margin: 0 20px;
}