@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes open-nav {
  0% {
    opacity: 0.9;
    padding-top: 40px;
  }100%{
    opacity: 1;
    padding-top: 0;
  }
}

@media(max-width:500px){
  .landing-page{
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .landing-page h1{
    text-align: center;
  }
  .header{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}
